<div class="container">
	<div class="row">
		<div class="menu col-xs-12 col-sm-12">
			<a-scene embedded arjs>
                <a-assets>
                    <video id="video" preload="none" poster="/Obj/color_texture_invert.jpg" src="/Obj/Telenor reklame - Gutta.mp4"></video>
                    <img id="logo-img" src="/Obj/telenor-logo.png">
                </a-assets>

                <a-marker preset="spider" emitevents="true" >
                    <a-entity
                            obj-model="obj: url(Obj/spider/Only_Spider_with_Animations_Export.obj); mtl: url(Obj/spider/Only_Spider_with_Animations_Export.mtl);"
                            scale="0.005 0.005 0.005" position='0 0 0'>
                    </a-entity>
                </a-marker>

                <a-marker telenor-redirect id="familiebonus-marker" cursor="rayOrigin: mouse" preset="familiebonus" emitevents="true">
                    <a-box id="box-model" position='0 0 0' material='color: #0068B9;' scale="1 0.2 1" opacity="0.9"></a-box>
                    <a-image id="logo-img" src="#logo-img" position='0 0.3 0' rotation="-90 0 0"></a-image>
                </a-marker>

                <a-marker registerevents cursor="rayOrigin: mouse" preset="spinner">
                    <a-video src="#video" width="3" height="1.5" rotation="0 0 0" position="0 0 -0.5"></a-video>
                </a-marker>

				<a-marker preset="logo" emitevents="true">
					<a-box product-picker id="box1" class="product blue" position='-0.75 0 -0.75' material='color: blue;'></a-box>
					<a-box product-picker id="box2" class="product green" position='0.75 0 -0.75' material='color: green;'></a-box>
					<a-box product-picker id="box3" class="product red" position='-0.75 0 0.75' material='color: red;'></a-box>
					<a-box product-picker id="box4" class="product white" position='0.75 0 0.75' material='color: white;'></a-box>
				</a-marker>

				<a-entity camera position="0 0.1 0" fov="135"></a-entity>
			</a-scene>
		</div>
	</div>
</div>
