<div class="container">
	<div class="row">
		<div class="menu col-xs-12 col-sm-12">
			<a-scene embedded arjs>
                <a-assets>
                    <video id="video" preload="none" poster="xxxxxxx" src="/Obj/Telenor reklame - Gutta.mp4"></video>
                </a-assets>

                <a-marker preset="spider" emitevents="true" >
                    <a-entity
                            obj-model="obj: url(Obj/spider/Only_Spider_with_Animations_Export.obj); mtl: url(Obj/spider/Only_Spider_with_Animations_Export.mtl);"
                            scale="0.005 0.005 0.005" position='0 0 0'>
                    </a-entity>
                </a-marker>

                <a-marker preset="familiebonus" markerhandler emitevents="true" cursor="rayOrigin: mouse" id="familiebonus-marker">
                    <a-box id="box-model" position='0 0 0' material='color: blue;' scale="0.8 0.8 0.8" opacity="0.5"></a-box>
                    <a-text position='-1.8 0.5 0.5' rotation="-90 0 0" value="Trykk for å se kampanje på telenor.no!"></a-text>
                </a-marker>
                <a-marker preset="spinner" emitevents="true">

                    <a-video videoimage src="#video" rotation="0 0 0" position="0 0 -0.5"></a-video>

                </a-marker>

				<a-marker preset="logo" emitevents="true">
					<a-box product-picker id="box1" class="product blue" position='-0.75 0 -0.75' material='color: blue;'></a-box>
					<a-box product-picker id="box2" class="product green" position='0.75 0 -0.75' material='color: green;'></a-box>
					<a-box product-picker id="box3" class="product red" position='-0.75 0 0.75' material='color: red;'></a-box>
					<a-box product-picker id="box4" class="product white" position='0.75 0 0.75' material='color: white;'></a-box>
				</a-marker>

				<a-entity camera position="0 0.1 0" fov="135"></a-entity>
			</a-scene>
		</div>
	</div>
</div>
