<div id="alertmessage">Du m책 trykke for 책 spille av videoen!</div>
<div class="container">
	<div class="row">
		<div class="menu col-xs-12 col-sm-12">
			<a-scene embedded arjs>
                <a-assets>
                    <video id="video" autoplay muted preload="none" poster="/Obj/color_texture_invert.jpg" src="/Obj/Telenor reklame - Gutta.mp4"></video>
                </a-assets>
                <a-assets>
                    <img id="qrcodetexture" src="/markers/qrcode-marker-finished.jpg">
                    <img id="iphone" src="/markers/iphone.png">
                    <img id="doro" src="/markers/doro.png">
                    <img id="ipad" src="/markers/ipad.png">
                    <img id="apple-watch" src="/markers/apple-watch.png">
                </a-assets>

                <a-marker preset="spider" emitevents="true" >
                    <a-entity
                            obj-model="obj: url(Obj/spider/Only_Spider_with_Animations_Export.obj); mtl: url(Obj/spider/Only_Spider_with_Animations_Export.mtl);"
                            scale="0.005 0.005 0.005" position='0 0 0'>
                    </a-entity>
                </a-marker>

                <a-marker preset="familiebonus" markerhandler emitevents="true" cursor="rayOrigin: mouse" id="familiebonus-marker">
                    <a-box id="box-model" position='0 0 0' material='color: blue;' scale="0.8 0.8 0.8" opacity="0.5"></a-box>
                    <a-text position='-1.8 0.5 0.5' rotation="-90 0 0" value="Trykk for 책 se kampanje p책 telenor.no!"></a-text>
                </a-marker>
                <a-marker cursor="rayOrigin: mouse" preset="video">
                    <a-video src="#video" width="3" height="1.5" rotation="0 0 0" position="0 0 -0.5"></a-video>
                </a-marker>

                <a-marker cursor="rayOrigin: mouse" preset="qrcode">
                    <a-box src="#qrcodetexture" rotation="90 0 0" position="0" depth="0.005" height="2" width="2"></a-box>
                </a-marker>

				<a-marker preset="logo" emitevents="true">
					<a-box src="#iphone" product-picker class="product iphone" position='-0.75 0 -0.75' depth="0.005" rotation="90 180 0"></a-box>
					<a-box src="#ipad" product-picker class="product ipad" position='0.75 0 -0.75' depth="0.005" rotation="90 180 0"></a-box>
					<a-box src="#doro" product-picker class="product doro" position='-0.75 0 0.75' depth="0.005" rotation="90 180 0"></a-box>
					<a-box src="#apple-watch" product-picker class="product apple-watch" position='0.75 0 0.75' depth="0.005" rotation="90 180 0"></a-box>
				</a-marker>

				<a-entity camera position="0 0.1 0" fov="135"></a-entity>
			</a-scene>
		</div>
	</div>
</div>
