<div class="container">
	<div class="row">
		<div class="menu col-xs-12 col-sm-12">
			<a-scene embedded arjs>

                <a-marker preset="marius" emitevents="true">
                    <a-box position='0 0.5 0' material='color: green;'></a-box>
                </a-marker>

                <a-marker preset="familiebonus" markerhandler emitevents="true" cursor="rayOrigin: mouse" id="familiebonus-marker">
                    <a-box id="box-model" position='0 0 0' material='color: blue;' scale="0.8 0.8 0.8" opacity="0.5"></a-box>
                    <a-text position='-1.8 0.5 0.5' rotation="-90 0 0" value="Trykk for å se kampanje på telenor.no!"></a-text>
                </a-marker>

                <a-marker preset="merblack" emitevents="true">
                    <a-box position='0 0.5 0' material='color: white;'></a-box>
                </a-marker>

				<a-marker preset="logo" emitevents="true">
					<a-box position='-0.75 0 -0.75' material='color: blue;'></a-box>
					<a-box position='-0.75 0 0.75' material='color: green;'></a-box>
					<a-box position='0.75 0 -0.75' material='color: red;'></a-box>
					<a-box position='0.75 0 0.75' material='color: white;'></a-box>
				</a-marker>

				<a-entity camera></a-entity>
			</a-scene>
		</div>
	</div>
</div>
