<div class="container">
	<div class="row">
		<div class="menu col-xs-12 col-sm-12">
			<a-scene embedded arjs>
				<a-marker markerhandler emitevents="true" cursor="rayOrigin: mouse" id="familiebonus-marker" preset='custom' type='pattern' url='/markers/patt/familiebonus.patt'>
					<a-box id="box-model" position='0 0.5 0' material='color: red;' scale="1"></a-box>
				</a-marker>

                <a-marker preset="marius" emitevents="true">
                    <a-box position='0 0.5 0' material='color: green;'></a-box>
                </a-marker>

                <a-marker preset="familiebonus" emitevents="true">
                    <a-box position='0 0.5 0' material='color: blue;'></a-box>
                </a-marker>

                <a-marker preset="merblack" emitevents="true">
                    <a-box position='0 0.5 0' material='color: white;'></a-box>
                </a-marker>

				<a-marker preset="logo" emitevents="true">
					<a-box product-picker id="box1" class="product blue" position='-0.75 0 -0.75' material='color: blue;'></a-box>
					<a-box product-picker id="box2" class="product green" position='0.75 0 -0.75' material='color: green;'></a-box>
					<a-box product-picker id="box3" class="product red" position='-0.75 0 0.75' material='color: red;'></a-box>
					<a-box product-picker id="box4" class="product white" position='0.75 0 0.75' material='color: white;'></a-box>
				</a-marker>

				<a-entity camera position="0 0.1 0" fov="135"></a-entity>
			</a-scene>
		</div>
	</div>
</div>
